@use "_01_configuration" as *;
@use "_02_functions" as *;

.content-container {
    width: auto;
    margin: $margin-default;
    padding: 0;
    background-color: inherit;
    color: inherit;
}

.justify-content-end {justify-content: end;}
.justify-content-center {justify-content: center;}
.justify-content-start {justify-content: start;}
.justify-content-between {justify-content: space-between;}
.justify-content-around {justify-content: space-around;}
.justify-content-evenly {justify-content: space-evenly;}

.justify-items-start {justify-items: start;}
.justify-items-end {justify-items: end;}
.justify-items-center {justify-items: center;}

.align-content-center {align-content: center;}
.align-content-start {align-content: start;}
.align-content-end {align-content: end;}
.align-content-between {align-content: space-between;}
.align-content-around {align-content: space-around;}
.align-content-evenly {align-content: space-evenly;}

.align-items-start {align-items: start;}
.align-items-end {align-items: end;}
.align-items-center {align-items: center;}


.flex-content {
    display: flex;

    &--columns {flex-direction: column;}

    &--wrap {flex-wrap: wrap;}
}

.grid-content {
    display: grid;
    grid-template-columns: repeat(12,1fr);

    & [class*=col-] {
        grid-column: span 12;
    }
}

.grid-auto-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    &--min-400px {grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));}
    &--min-650px {grid-template-columns: repeat(auto-fit, minmax(650px, 1fr));}
    &--min-900px {grid-template-columns: repeat(auto-fit, minmax(900px, 1fr));}
}



// Call the mixin with the breakpoint map and 12 columns to generate all the column classes
@include generate-grid-column-classes($breakpoints, $grid-columns);

@include generate-key-value-property-classes($gap-class-property-map, 0, $gaps-increment, $gaps-max-index, $gaps-unit-factor); //($class-property-map, $start-index: 0, $increment-step: 1,$max-index: 8, $unit-factor: 0.25rem)



