//I get my icons from https://iconify.design/ just browse the icons, find one, select it, select the css tab and then compy to clipboard, paste in here an alter accordingly

.floppy-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg-floppy: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cpath fill='%23000' d='M27.36 4H6a2 2 0 0 0-2 2v24a2 2 0 0 0 2 2h24a2 2 0 0 0 2-2V8.78ZM26 30H10v-8.5a1.5 1.5 0 0 1 1.5-1.5h13a1.5 1.5 0 0 1 1.5 1.5Zm-2-16H12a2 2 0 0 1-2-2V6h2v6h14a2 2 0 0 1-2 2' class='clr-i-solid clr-i-solid-path-1'/%3E%3Cpath fill='none' d='M0 0h36v36H0z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg-floppy);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: var(--svg-floppy);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
}

.cancel-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg-cancel: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cpath fill='%23000' d='M18 2a16 16 0 1 0 16 16A16 16 0 0 0 18 2M4 18a13.93 13.93 0 0 1 3.43-9.15l19.72 19.72A14 14 0 0 1 4 18m24.57 9.15L8.85 7.43a14 14 0 0 1 19.72 19.72' class='clr-i-outline clr-i-outline-path-1'/%3E%3Cpath fill='none' d='M0 0h36v36H0z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg-cancel);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: var(--svg-cancel);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
}

.info-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg-info: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Ccircle cx='17.97' cy='10.45' r='1.4' fill='%23000' class='clr-i-outline clr-i-outline-path-1'/%3E%3Cpath fill='%23000' d='M21 25h-2V14.1h-3a1 1 0 0 0 0 2h1V25h-2a1 1 0 0 0 0 2h6a1 1 0 0 0 0-2' class='clr-i-outline clr-i-outline-path-2'/%3E%3Cpath fill='%23000' d='M18 34a16 16 0 1 1 16-16a16 16 0 0 1-16 16m0-30a14 14 0 1 0 14 14A14 14 0 0 0 18 4' class='clr-i-outline clr-i-outline-path-3'/%3E%3Cpath fill='none' d='M0 0h36v36H0z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg-info);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: var(--svg-info);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
}
.pencil-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg-pencil: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cpath fill='%23000' d='m4.22 23.2l-1.9 8.2a2.06 2.06 0 0 0 2 2.5a2 2 0 0 0 .43 0L13 32l15.84-15.78L20 7.4Z' class='clr-i-solid clr-i-solid-path-1'/%3E%3Cpath fill='%23000' d='m33.82 8.32l-5.9-5.9a2.07 2.07 0 0 0-2.92 0L21.72 5.7l8.83 8.83l3.28-3.28a2.07 2.07 0 0 0-.01-2.93' class='clr-i-solid clr-i-solid-path-2'/%3E%3Cpath fill='none' d='M0 0h36v36H0z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg-penci);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: var(--svg-pencil);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
}

.details-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg-details: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cpath fill='%23000' d='M21.89 4H7.83A1.88 1.88 0 0 0 6 5.91v24.18A1.88 1.88 0 0 0 7.83 32h20.34A1.88 1.88 0 0 0 30 30.09V11.92ZM21 13V5.84L28.3 13Z' class='clr-i-solid clr-i-solid-path-1'/%3E%3Cpath fill='none' d='M0 0h36v36H0z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg-details);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: var(--svg-details);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
}

.jigsaw-icon {
    display: inline-block;
    width: 1em;
   height: 1em;
    --svg-jigsaw: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M20.5 11H19V7a2 2 0 0 0-2-2h-4V3.5A2.5 2.5 0 0 0 10.5 1A2.5 2.5 0 0 0 8 3.5V5H4a2 2 0 0 0-2 2v3.8h1.5c1.5 0 2.7 1.2 2.7 2.7S5 16.2 3.5 16.2H2V20a2 2 0 0 0 2 2h3.8v-1.5c0-1.5 1.2-2.7 2.7-2.7s2.7 1.2 2.7 2.7V22H17a2 2 0 0 0 2-2v-4h1.5a2.5 2.5 0 0 0 2.5-2.5a2.5 2.5 0 0 0-2.5-2.5'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg-jigswa);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: var(--svg-jigsaw);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
}
.vs-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg-vs: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M16.85 2L9.09 9.77l-4.9-3.86L2.05 7v10l2.15 1.09l4.93-3.85L16.87 22L22 19.93V4ZM4.37 14.3V9.65l2.44 2.43Zm12.33 1.29L12.05 12l4.65-3.59Z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg-vs);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: var(--svg-vs);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
}

.trash-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg-trash: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cpath fill='%23000' d='M6 9v22a2.93 2.93 0 0 0 2.86 3h18.23A2.93 2.93 0 0 0 30 31V9Zm9 20h-2V14h2Zm8 0h-2V14h2Z' class='clr-i-solid clr-i-solid-path-1'/%3E%3Cpath fill='%23000' d='M30.73 5H23V4a2 2 0 0 0-2-2h-6.2A2 2 0 0 0 13 4v1H5a1 1 0 1 0 0 2h25.73a1 1 0 0 0 0-2' class='clr-i-solid clr-i-solid-path-2'/%3E%3Cpath fill='none' d='M0 0h36v36H0z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg-trash);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: var(--svg-trash);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
}
.palette-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg-palette: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cpath fill='%23000' d='M32.23 14.89c-2.1-.56-4.93 1.8-6.34.3c-1.71-1.82 2.27-5.53 1.86-8.92c-.33-2.78-3.51-4.08-6.66-4.1A18.5 18.5 0 0 0 7.74 7.59c-6.64 6.59-8.07 16-1.37 22.48c6.21 6 16.61 4.23 22.67-1.4a17.7 17.7 0 0 0 4.22-6.54c1.08-2.9 1.18-6.64-1.03-7.24M9.4 10.57a2.23 2.23 0 0 1 2.87 1.21a2.22 2.22 0 0 1-1.81 2.53a2.22 2.22 0 0 1-2.87-1.21a2.23 2.23 0 0 1 1.81-2.53M5.07 20.82a2.22 2.22 0 0 1 1.82-2.53a2.22 2.22 0 0 1 2.86 1.21A2.23 2.23 0 0 1 7.94 22a2.24 2.24 0 0 1-2.87-1.18m7 8.33a2.22 2.22 0 0 1-2.87-1.21a2.23 2.23 0 0 1 1.8-2.53a2.23 2.23 0 0 1 2.87 1.21A2.22 2.22 0 0 1 12 29.15ZM15 8.26a2.23 2.23 0 0 1 1.81-2.53a2.24 2.24 0 0 1 2.87 1.21a2.22 2.22 0 0 1-1.82 2.53A2.21 2.21 0 0 1 15 8.26m5.82 22.19a2.22 2.22 0 0 1-2.87-1.21a2.23 2.23 0 0 1 1.81-2.53a2.24 2.24 0 0 1 2.87 1.21a2.22 2.22 0 0 1-1.85 2.53Zm5-10.46a3.2 3.2 0 0 1-1.69 1.76a3.5 3.5 0 0 1-1.4.3a2.78 2.78 0 0 1-2.56-1.5a2.5 2.5 0 0 1-.07-2a3.2 3.2 0 0 1 1.69-1.76a3 3 0 0 1 4 1.2a2.54 2.54 0 0 1 0 2.01Z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg-palette);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: var(--svg-palette);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
}

.typography-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg-typography: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' d='M6.71 10H2.332l-.874 2.498a.75.75 0 0 1-1.415-.496l3.39-9.688a1.217 1.217 0 0 1 2.302.018l3.227 9.681a.75.75 0 0 1-1.423.474Zm3.13-4.358C10.53 4.374 11.87 4 13 4c1.5 0 3 .939 3 2.601v5.649a.75.75 0 0 1-1.448.275C13.995 12.82 13.3 13 12.5 13c-.77 0-1.514-.231-2.078-.709c-.577-.488-.922-1.199-.922-2.041c0-.694.265-1.411.887-1.944C11 7.78 11.88 7.5 13 7.5h1.5v-.899c0-.54-.5-1.101-1.5-1.101c-.869 0-1.528.282-1.84.858a.75.75 0 1 1-1.32-.716M6.21 8.5L4.574 3.594L2.857 8.5Zm8.29.5H13c-.881 0-1.375.22-1.637.444c-.253.217-.363.5-.363.806c0 .408.155.697.39.896c.249.21.63.354 1.11.354c.732 0 1.26-.209 1.588-.449c.35-.257.412-.495.412-.551Z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg-typography);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: var(--svg-typography);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
}

.sandbox-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg-sandbox: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' d='m0 357.723l247 140v-120l-247-110zm512-89.982L265 377.723v120l247-139.485zm-56.836 10.165l38.761-17.14l-85.089-32.248l-7.875 21.283c15.527 6.87 34.05 16.686 54.203 28.105M357.346 14.277l-16.093 45.184c-3.573 12.497 2.835 31.654 23.408 35.674l-26.813 74.81c-21.792-9.103-41.243-2.83-52.934 9.831l-29.391-11.287l-237.463 92.24l38.686 16.895c63.562-37.882 138.756-64.027 210.764-59.892l-10.436 28.036c-27.346.81-50.73 7.678-71.233 18.952c71.534-11.513 146.05 7.61 201.156 35.938c-1.33-6.491-4.985-12.38-11.079-18.21l19.494-55.249c5.88-15.783 1.238-45.648-35.281-51.064l26.925-74.585c25.23 6.35 40.246-10.084 43.793-20.961l14.698-41.863zM407.6 74.891c-.728 3.033-6.074 5.518-10.314 3.64l-26.33-7.401c-5.125-2.017-7.111-5.153-5.46-9.586l6.189-17.472l42.952 12.012z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg-sandbox);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: var(--svg-sandbox);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
}
.toolbox-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg-toolbox: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M18 16h-2v-1H8v1H6v-1H2v5h20v-5h-4zm2-8h-3V6c0-1.1-.9-2-2-2H9c-1.1 0-2 .9-2 2v2H4c-1.1 0-2 .9-2 2v4h4v-2h2v2h8v-2h2v2h4v-4c0-1.1-.9-2-2-2m-5 0H9V6h6z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg-toolbox);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: var(--svg-toolbox);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
}
//burger icons defined as placeholders they will be used with @extend to
//switch icons without adding or removing classes.
%burger-open-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg-burger-open: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M3 6a1 1 0 0 1 1-1h12a1 1 0 1 1 0 2H4a1 1 0 0 1-1-1m1.25 6a.75.75 0 0 1 .75-.75h15.19l-1.22-1.22a.75.75 0 1 1 1.06-1.06l2.5 2.5a.75.75 0 0 1 0 1.06l-2.5 2.5a.75.75 0 1 1-1.06-1.06l1.22-1.22H5a.75.75 0 0 1-.75-.75M4 17a1 1 0 1 0 0 2h12a1 1 0 1 0 0-2z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg-burger-open);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: var(--svg-burger-open);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
}

%burger-close-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg-burger-close: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M7 6a1 1 0 0 1 1-1h12a1 1 0 1 1 0 2H8a1 1 0 0 1-1-1m-1.97 7.97L3.86 12.8H19a.8.8 0 0 0 0-1.6H3.86l1.17-1.17a.75.75 0 1 0-1.06-1.06l-2.5 2.5a.75.75 0 0 0 0 1.06l2.5 2.5a.75.75 0 0 0 1.06-1.06M8 17a1 1 0 1 0 0 2h12a1 1 0 1 0 0-2z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg-burger-close);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: var(--svg-burger-close);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
}

// Add for and used by the contrast checker
.eyedropper-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg-eyedropper: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 56'%3E%3Cpath fill='%23000' d='m39.649 28.902l.656-.726c1.148-1.195 1.195-2.602-.024-3.82l-.703-.68c3.586-3.211 7.57-3.656 10.031-6.164c3.492-3.516 2.344-8.438-.093-10.899c-2.438-2.484-7.313-3.539-10.899-.094c-2.531 2.438-2.953 6.446-6.164 10.032l-.68-.703c-1.218-1.22-2.625-1.172-3.82-.024l-.726.656c-1.43 1.383-1.172 2.602.07 3.844l.984.985l-17.695 17.718C3.344 46.27 6.836 45.145 2.899 50.7l2.085 2.227c5.391-3.914 4.665-.07 12-7.407l17.813-17.695l1.008 1.008c1.242 1.242 2.46 1.5 3.843.07M10.116 46.13c-.867-.938-.703-1.828.235-2.766l19.945-20.039l2.555 2.555l-20.04 20.016c-.82.843-1.898 1.101-2.695.234'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg-eyedropper);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: var(--svg-eyedropper);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
}

.swap-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg-swap: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M4 9h13l-1.6 1.2a1 1 0 0 0-.2 1.4a1 1 0 0 0 .8.4a1 1 0 0 0 .6-.2l4-3a1 1 0 0 0 0-1.59l-3.86-3a1 1 0 0 0-1.23 1.58L17.08 7H4a1 1 0 0 0 0 2m16 7H7l1.6-1.2a1 1 0 0 0-1.2-1.6l-4 3a1 1 0 0 0 0 1.59l3.86 3a1 1 0 0 0 .61.21a1 1 0 0 0 .79-.39a1 1 0 0 0-.17-1.4L6.92 18H20a1 1 0 0 0 0-2'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg-swap);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: var(--svg-swap);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
}

%pass {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg-tick: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 2C6.5 2 2 6.5 2 12s4.5 10 10 10s10-4.5 10-10S17.5 2 12 2m-2 15l-5-5l1.41-1.41L10 14.17l7.59-7.59L19 8z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg-tick);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: var(--svg-tick);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
}

%fail {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg-cross: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 2c5.53 0 10 4.47 10 10s-4.47 10-10 10S2 17.53 2 12S6.47 2 12 2m3.59 5L12 10.59L8.41 7L7 8.41L10.59 12L7 15.59L8.41 17L12 13.41L15.59 17L17 15.59L13.41 12L17 8.41z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg-cross);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: var(--svg-cross);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
}

.accessibility-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg-accessibility: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M13.434 4.187a.874.874 0 0 1-.67 1.04l-2.718.587a1 1 0 0 0-.79.977v.88a8 8 0 0 0 .507 2.8l1.624 4.349a.874.874 0 1 1-1.638.611l-1.554-4.16a.5.5 0 0 0-.937 0l-1.554 4.16a.874.874 0 0 1-1.638-.611l1.625-4.35a8 8 0 0 0 .506-2.8v-.879a1 1 0 0 0-.789-.977L2.69 5.226a.874.874 0 0 1 .37-1.709l3.822.826a4 4 0 0 0 1.69 0l3.822-.826a.874.874 0 0 1 1.04.67M7.684 0a1.749 1.749 0 1 1 0 3.497a1.749 1.749 0 0 1 0-3.497'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg-accessibility);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: var(--svg-accessibility);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
}

.shopping-cart-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg-shopping-cart: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M7 22q-.825 0-1.412-.587T5 20t.588-1.412T7 18t1.413.588T9 20t-.587 1.413T7 22m10 0q-.825 0-1.412-.587T15 20t.588-1.412T17 18t1.413.588T19 20t-.587 1.413T17 22M5.2 4h14.75q.575 0 .875.513t.025 1.037l-3.55 6.4q-.275.5-.737.775T15.55 13H8.1L7 15h12v2H7q-1.125 0-1.7-.987t-.05-1.963L6.6 11.6L3 4H1V2h3.25z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg-shopping-cart);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: var(--svg-shopping-cart);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
}

.blazor-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg-blazor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M446.614 63.538c.394.229.724.553.96.942a191.63 191.63 0 0 1 18.809 122.187v.018C447.335 306.086 344.749 394.212 223.841 395.04a179.7 179.7 0 0 1-35.45-2.133c-50.49-8.576-88.136-51.25-90.346-102.418c.22-57.814 46.933-104.68 104.746-105.09c57.813-.408 105.185 45.792 106.223 103.597c.444 17.476-7.129 32.818-22.702 33.262c-16.64 0-24.427-11.875-24.427-27.858v-44.444c.02-14.97-12.053-27.146-27.022-27.253H197.6c-29.854-.197-55.984 20.012-63.302 48.955s6.069 59.143 32.428 73.159c26.36 14.015 58.882 8.226 78.785-14.025l1.298-1.956l1.315 2.151a45.87 45.87 0 0 0 39.111 18.631c27.988-2.032 49.249-26.014 47.911-54.044a140.7 140.7 0 0 0-3.857-34.365c-14.271-65.86-75.98-110.306-142.969-102.97c-66.988 7.334-117.618 64.08-117.298 131.468c.857 71.68 58.258 129.843 129.92 131.645c0 0 7.17.653 16.138.671h.82c1.237-.003 2.504-.018 3.789-.05a280.94 280.94 0 0 0 150.666-44.941c.64-.445 1.28.444.854 1.084a221.16 221.16 0 0 1-172.267 70.453A155.45 155.45 0 0 1 42.72 289.067a160.87 160.87 0 0 1 64.622-128.836a157.57 157.57 0 0 1 92.96-30.684h50.009a140.7 140.7 0 0 0 103.804-45.831a1.96 1.96 0 0 1 1.05-.605a1.99 1.99 0 0 1 2.399 2.133a141.05 141.05 0 0 1-21.813 63.094a1.9 1.9 0 0 0-.25 1.067c.062.77.57 1.431 1.299 1.689c.352.13.735.155 1.102.07a151.2 151.2 0 0 0 105.12-86.684c.242-.39.578-.714.978-.942a2.67 2.67 0 0 1 2.613 0M237.032 249.316a2.81 2.81 0 0 1 2.666 2.667v36.302c0 21.482-17.415 38.898-38.897 38.898c-21.483 0-38.898-17.416-38.898-38.898s17.415-38.898 38.898-38.898Z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg-blazor);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: var(--svg-blazor);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
}

.youtube-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg-youtube: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m10 15l5.19-3L10 9zm11.56-7.83c.13.47.22 1.1.28 1.9c.07.8.1 1.49.1 2.09L22 12c0 2.19-.16 3.8-.44 4.83c-.25.9-.83 1.48-1.73 1.73c-.47.13-1.33.22-2.65.28c-1.3.07-2.49.1-3.59.1L12 19c-4.19 0-6.8-.16-7.83-.44c-.9-.25-1.48-.83-1.73-1.73c-.13-.47-.22-1.1-.28-1.9c-.07-.8-.1-1.49-.1-2.09L2 12c0-2.19.16-3.8.44-4.83c.25-.9.83-1.48 1.73-1.73c.47-.13 1.33-.22 2.65-.28c1.3-.07 2.49-.1 3.59-.1L12 5c4.19 0 6.8.16 7.83.44c.9.25 1.48.83 1.73 1.73'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg-youtube);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: var(--svg-youtube);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
}

// End of contrast checker icons


.icon-size-standard {
    height: 1.5rem;
    width: 1.5rem;
}

.icon-size-large {
    height: 2rem;
    width: 2rem;
}

.icon-size-fs-sm-1 {
    font-size: var(--fs-sm-1);
}

.icon-size-fs-1 {
    font-size: var(--fs-1);
}

.icon-size-fs-2 {
    font-size: var(--fs-2);
}

.icon-size-fs-3 {
    font-size: var(--fs-3);
}

.icon-size-fs-4 {
    font-size: var(--fs-4);
}

.icon-size-fs-5 {
    font-size: var(--fs-5);
}

.icon-size-fs-6 {
    font-size: var(--fs-6);
}