@page "/sandbox"

<PageTitle>Sandbox</PageTitle>


    <h1 class="panel m-bottom-4">Sandbox - Testing Area</h1>



<div class="grid-content gaps-4">

    <div class="col-sm-12 col-xl-6 box box--highlight">

        <div class="box__header">
            <div class="box__title">
                <span class="box__icon vs-icon" style="background-color:mediumpurple;" aria-hidden="true"></span>
                Box title, icon, highlight & controls
            </div>
            <div class="box__controls">
                <button type="button" class="button button--round button--small" aria-label="Delete item">
                    <span class="trash-icon text-danger" aria-hidden="true"></span>
                </button>
                <button type="button" class="button button--round button--small" aria-label="View details">
                    <span class="details-icon text-info" aria-hidden="true"></span>
                </button>
                <button type="button" class="button button--round button--small" aria-label="Edit item">
                    <span class="pencil-icon text-success" aria-hidden="true"></span>
                </button>
            </div>
        </div>
        <div class="box__body">
            <p>Box body</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas orci nibh, fringilla sed neque eget, pretium vulputate nibh. Pellentesque habitant morbi tristique senectus et
                netus et malesuada fames ac turpis egestas. Donec tempor, dui ullamcorper convallis molestie, erat lectus ullamcorper dolor, eu commodo risus libero vel velit. Curabitur a egestas.
            </p>
        </div>

    </div>

    <div class="col-xs-12 col-xl-6 box">
        <div class="box__header">
            <div class="box__title">
                Box title and controls
            </div>
            <div class="box__controls">
                <button type="button" class="button button--small button--square" aria-label="Delete item">
                    <span class="trash-icon text-danger" aria-hidden="true"></span>
                </button>
                <button type="button" class="button button--small button--square" aria-label="View details">
                    <span class="details-icon text-info" aria-hidden="true"></span>
                </button>
                <button type="button" class="button button--small button--square" aria-label="Edit item">
                    <span class="pencil-icon text-success" aria-hidden="true"></span>
                </button>
            </div>
        </div>
        <div class="box__body">
            <p>Box body</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas orci nibh, fringilla sed neque eget, pretium vulputate nibh. Pellentesque habitant morbi tristique senectus et
                netus et malesuada fames ac turpis egestas. Donec tempor, dui ullamcorper convallis molestie, erat lectus ullamcorper dolor, eu commodo risus libero vel velit. Curabitur a egestas.
            </p>
        </div>

    </div>

    <div class="col-xm-12 box">

        <div class="box__header">
            <div class="box__title">
                <span class="box__icon jigsaw-icon"></span>
                Box title and icon (using text colour)
            </div>
        </div>
        <div class="box__body">
            <p>Box body</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas orci nibh, fringilla sed neque eget, pretium vulputate nibh. Pellentesque habitant morbi tristique senectus et
                netus et malesuada fames ac turpis egestas. Donec tempor, dui ullamcorper convallis molestie, erat lectus ullamcorper dolor, eu commodo risus libero vel velit. Curabitur a egestas.
            </p>
        </div>
        <div class="box__footer">
            Box footer
        </div>
    </div>

    <div class="col-sm-12 flex-content flex-content--wrap align-items-center gaps-3 panel">
        <button type="button" class="button button--round button--large" aria-label="Delete">
            <span class="trash-icon text-danger" aria-hidden="true"></span>
        </button>
        <button type="button" class="button button--round" aria-label="Information">
            <span class="details-icon text-info" aria-hidden="true"></span>
        </button>
        <button type="button" class="button button--round button--small" aria-label="Edit">
            <span class="pencil-icon text-success" aria-hidden="true"></span>
        </button>
        <button type="button" class="button button--large button--square" aria-label="Delete">
            <span class="trash-icon text-danger" aria-hidden="true"></span>
        </button>
        <button type="button" class="button button--square" aria-label="Information">
            <span class="details-icon text-info" aria-hidden="true"></span>
        </button>
        <button type="button" class="button button--small button--square" aria-label="Edit">
            <span class="pencil-icon text-success" aria-hidden="true"></span>
        </button>
        <button type="button" class="button button--round" aria-label="Delete">
            <span class="trash-icon" aria-hidden="true"></span>
        </button>
        <button type="button" class="button button--round" aria-label="Information">
            <span class="details-icon" aria-hidden="true"></span>
        </button>
        <button type="button" class="button button--round" aria-label="Edit" aria-disabled="true">
            <span class="pencil-icon" aria-hidden="true"></span>
        </button>
        <button class="button button--large">
            <span class="info-icon" aria-hidden="true"></span>
            Large button
        </button>
        <button class="button">
            Standard button
        </button>
        <button class="button" aria-label="Information">
            <span class="info-icon" aria-hidden="true"></span>
            Standard button with icon
        </button>

        <button class="button button--small red-button">
            Small button
        </button>
        <button class="button button--small red-button">
            <span class="info-icon" aria-hidden="true"></span>
            Small button
        </button>
        <button class="button" aria-disabled="true">
            Aria disabled
        </button>


        <button class="button button--primary">
            Primary auto contrast text
        </button>
        <button class="button button--accent">
            Accent auto contrast text
        </button>
        <button class="button button--danger">
            Danger auto contrast text
        </button>
        <button class="button button--warning">
            Warning auto contrast text
        </button>
        <button class="button button--success">
            Success auto contrast text
        </button>
        <button class="button button--info">
            Info auto contrast text
        </button>








        <Switch Label="Airplane mode" LabelVisible="true" OffText="Inactive" OnText="Active" StyleAs="StyleAs.Dynamic" />
    </div>

    <div class="col-sm-12">
        The svgicons are set to use em unit so they match the font size unless modified with a class modifier. For example you can just add modifiers to the icons if you want the icon to be slighly bigger
        than the button text.
        <br />
        <button class="button m-top-3">
            <span class="info-icon icon-size-standard" aria-hidden="true"></span>
            Standard button with icon
        </button>
    </div>


</div>
