<nav class="flex-content flex-content--columns gaps-4 pad-all-4">
    <NavLink class="flex-content align-items-center gaps-3" href="/">
        <span class="nav-icon palette-icon" aria-hidden="true"></span>
        <span class="nav-text">Colours</span>
    </NavLink>
    <NavLink class="flex-content align-items-center gaps-3" href="typography">
        <span class="nav-icon typography-icon" aria-hidden="true"></span>
        <span class="nav-text">Typography</span>
    </NavLink>
    <NavLink class="flex-content align-items-center gaps-3" href="sandbox">
        <span class="nav-icon sandbox-icon" aria-hidden="true"></span>
        <span class="nav-text">Sandbox</span>
    </NavLink>
    <NavLink class="flex-content align-items-center gaps-3" href="tools">
        <span class="nav-icon toolbox-icon" aria-hidden="true"></span>
        <span class="nav-text">Tools</span>
    </NavLink>
</nav>
